@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure Cloud Service</h1>
    <p class="lead">CI demo with AppVeyor and azure cloud service.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

