@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure Cloud Service - This is staging environment</h1>
    <p class="lead">A demo to show how agile deployment will work using GitHub, AppVeyor and Azure cloud service.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

